[Desktop Entry]
Name=KTrees
Name[ast]=KTrees
Name[bg]=KTrees
Name[ca]=KTrees
Name[ca@valencia]=KTrees
Name[cs]=KTrees
Name[da]=KTrees
Name[de]=KTrees
Name[el]=KTrees
Name[en_GB]=KTrees
Name[eo]=KTrees
Name[es]=KTrees
Name[et]=KTrees
Name[fi]=KTrees
Name[fr]=KTrees
Name[ga]=KTrees
Name[gl]=KTrees
Name[hu]=KTrees
Name[it]=KTrees
Name[ja]=KTrees
Name[kk]=KTrees
Name[km]=KTrees
Name[ko]=KTrees
Name[lv]=KTrees
Name[nb]=KTrees
Name[nds]=KTrees
Name[nl]=KTrees
Name[nn]=KTrees
Name[pa]=KTrees
Name[pl]=KTrees
Name[pt]=KTrees
Name[pt_BR]=KTrees
Name[ro]=KTrees
Name[ru]=KTrees
Name[sr]=KTrees
Name[sr@ijekavian]=KTrees
Name[sr@ijekavianlatin]=KTrees
Name[sr@latin]=KTrees
Name[sv]=KTrees
Name[tr]=KTrees
Name[uk]=KTrees
Name[x-test]=xxKTreesxx
Name[zh_CN]=KTrees
Name[zh_TW]=KTrees
Exec=ktrees %i -caption "%c"
Icon=ktrees
Type=Application
X-DocPath=ktrees/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
